body {
    text-align: center;
    font-size: 50%;
}

hl {
    font-weight: bold;
    font-size: 50%;
}

h2 {
    font-weight: bold;
    font-size: 50%;
}

button {
    font-weight: bold;
    font-size: 50%;
}